<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
    <title></title>
    <script src="Javascript/angular.min.js"></script>
</head>
<body>
    <div class="container">
        Name : <input type="text" ng-model="name" /> {{ name }}
    </div>
    <div class="container" data-ng-init="developers=['sk', 'jw', 'gs']">
        <h3>Looping through developer names</h3>
        <ul>
            <li data-ng-repeat="name in developers">{{ name }}</li>
        </ul>
    </div>
</body>
</html>
