<!DOCTYPE html>
<html ng-app="gemStore">

  <head>
	<link data-require="bootstrap-css@*" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script type="text/javascript" src="Javascript/StoreController.js"></script>
  </head>

  <body class="list-group" ng-controller="StoreController as store">
    <!--  Product Container  -->
    <div>This demo displays gems using a controller. The controller has the data in an array. 
    It displays image gallery by listing multiple images of a single gem. It uses directives like ng-repeat, ng-source, ng-click.</div>
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>{{product.name}}                                                                                                 <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <!-- Image Gallery  -->
      <div class="gallery">
        <div class="img-wrap">
          <img ng-src="{{product.images[0]}}" />
        </div>
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" ng-click="setImage(image)" />
          </li>
        </ul>
      </div>
    </div>
  </body>

</html>